@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 80%;
    margin: auto;
}

.main-container {
    background-color: #bdd9f5;
    padding: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;;
    }
}

img {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right bottom, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    border-image-slice: 1;
}

h1 {
    margin: 5px;
    padding: 10px;
}

.btn-1 {
    background-color: #23d5ab;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #23a6d5;
}

footer {
    margin: 20px 0;
    text-align: center;
}