@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


body {
    font-family: 'Lato', sans-serif;
background: linear-gradient(#03001e,#7303c0,#ec38bc,#fdeff9);
height: 100vh;
color: #fdeff9;
overflow-y: hidden;
display: flex;
flex-direction: column;
}

.container {
    background-color: #ec38bc;
    width: 40%;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid#fdeff9;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.5), -30px 0px 40px rgba(0, 0, 0, 0.5);
    }

h1 {
    color: #7303c0;
}

.btn {
    padding: 0.5rem 2rem;
    background-color: #7303c0;
    color: #fdeff9;
    border: 1.5px solid #fdeff9;
    border-radius: 5px;
    margin: 10px 0;
}

.container input {
    padding: 0.5rem;
    width: 80%;
    margin: 5px 0;
border-radius: 5px;
border: 2px solid #7303c0;
}

.container input[type=checkbox] {
width: auto;
}

.container a {
    text-decoration: none;
    color: #7303c0;
}